:root {
    --dark-pink: #580d36;
    --medium-pink: #bc1d75;
    --pink: #d9539d;
    /* --light-pink: #ffb6df; */
    --yellow: #d9bf61;
    --dark-yellow: #b99643;
    /* --light-green: #98a665;
    --green: #7b874c;
    --dark-green: #3e442c;
    --cream: #f2ecce;
    --light-khaki: #d9d4b8;
    --khaki: #a69b79; */
    --contrast-font-color: black;
    --heading-font: "Comic Sans MS", "Times New Roman", monospace;
    --body-font: "American Typewriter", "Courier", serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--dark-pink);
}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;
}

header img {
    width: 17rem;
}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--pink);
}

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;
}

.socialmedia a {
    text-decoration: none;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--yellow);
    color: var(--contrast-font-color);
}

.hero article {
    position: absolute;
    bottom: 17px;
    margin: 0;
    width: 100%;
    padding: 12px;
    text-align: center;
    opacity: 0.8;
    background-color: var(--dark-yellow);
    color: var(--contrast-font-color);
}

.hero article img {
    position: relative;
    float: right;
    width: 90px;
}

.socialmedia a img {
    height: 45px;
}

header nav a {
    color: var(--medium-pink);
    text-decoration: none;
}