:root {
    --dark-pink: #580d36;
    --medium-pink: #bc1d75;
    --pink: #d9539d;
    --yellow: #d9bf61;
    --dark-yellow: #b99643;
    --dark-green: #3e442c;
    --contrast-font-color: black;
    --heading-font: "Comic Sans MS", "Times New Roman", monospace;
    --body-font: "American Typewriter", "Courier", serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--dark-pink);
}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;
}

header {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
}

header img {
    width: 150px;
}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--dark-green);
}

section,
article {
    margin: 16px;
    padding: 8px;
}

.socialmedia a {
    text-decoration: none;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--yellow);
    color: var(--contrast-font-color);
}

.hero article {
    position: absolute;
    bottom: 17px;
    margin: 0;
    width: 100%;
    padding: 12px;
    text-align: center;
    opacity: 0.8;
    background-color: var(--dark-yellow);
    color: var(--contrast-font-color);
}

.hero article img {
    position: relative;
    float: right;
    width: 90px;
}

.socialmedia a img {
    height: 45px;
}

header nav {
    display: flex;
    justify-content: center;
}

header nav a {
    color: var(--medium-pink);
    text-decoration: none;
    padding: 1rem;
    border: 1px solid var(--pink);
}

section:nth-of-type(1) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
}

section:nth-of-type(1) h2 {
    grid-column: 1 / 4;
    text-align: center;
}

section:nth-of-type(1) img {
    width: 200px;
    justify-self: center;
}

section:nth-of-type(2) {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    text-align: center;
}

section:nth-of-type(2) h2 {
    grid-column: 1 / 6;
    text-align: center;
}

section:nth-of-type(2) figure img {
    width: 100%;
    max-width: 150px;
}

section:nth-of-type(2) figcaption {
    padding: 8px;
}

footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

footer .socialmedia {
    display: flex;
    justify-content: end;
}