:root {
    --primary-color: darkblue;
    --text-color: #333;
    --light-pink: #ffc9e1;
    --border-color: #000;
    --shadow: 0 0 10px gray;
    --big-shadow: 0 0 30px gray;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: var(--primary-color);
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

main {
    max-width: 840px;
}

main img {
    width: 150px;
    height: auto;
    border: var(--border-color);
    padding: 10px;
    box-shadow: var(--shadow);
    float: right;
    margin-left: 10px;
}

aside {
    width: 20rem;
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 0.2);
    padding: 1rem;
    background-color: var(--light-pink);
    color: var(--text-color);
    text-align: center;
}

aside img {
    position: relative;
    width: 200px;
    height: auto;
}

h1 {
    color: var(--primary-color);
}

img {
    width: 150px;
    height: auto;
    border: 1px solid var(--border-color);
    padding: 2px;
    box-shadow: var(--big-shadow);
}

p {
    padding: 0;
}

footer {
    margin-top: 15px;
    border-top: 1px solid var(--border-color);
    text-align: center;
}

/* Class Selectors */

.box {
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 10%);
    padding: 1rem;
    background-color: #f7dce5;
    color: #ff87ad;
}